/backend/vendor/
/backend/node_modules/
/backend/storage/*.key
/backend/storage/app/*
!/backend/storage/app/.gitignore
/backend/storage/framework/*
!/backend/storage/framework/.gitignore
/backend/storage/logs/*
!/backend/storage/logs/.gitignore
/backend/.env
/client/node_modules/
/client/dist/
/client/.vite/
/client/.cache
.replit
.nix
.env
.DS_Store
*.log
*.sqlite
*.sqlite-journal
