run = "bash ./run.sh"
hidden = [".config", ".git", "node_modules", "vendor", "dist", "storage"]

[nix]
channel = "stable-23.05"

[env]
PORT = "5173"

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3002
